<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${units} and ${units.size()}">no units!</p>

<div class="container body-content">
    <h2>Units</h2>
    <a class="btn btn-primary" th:href="@{'/units/add'}" role="button">Add Unit</a>
    <p>
        <ul>
            <li th:each="unit : ${units}">
                <a th:href="@{'#'}" th:text="${unit.name}"></a>
            </li>
        </ul>
    </p>
</div>

</body>
</html>