<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<script type='text/javascript'>
function setRecipeName(instruction) {


    return false;
}
</script>
<body>
<div  th:replace="fragments :: page-header"></div>

<div   class="container body-content">
    <table class="table">
        <tr>
            <th>Recipe Name</th>
            <th>Ingredients</th>
        </tr>

    </table>


    <label th:text="${searchString}"/>
</div>



</body>
</html>