<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

    <div class="container body-content py-3">

        <h2>Add Recipe</h2>

        <div class="container py-3">
            <form method="post" style="max-width:600px;">
                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-text w-25">Name</span>
                        <input class="form-control" th:field="${recipe.name}" />
                        <span th:errors="${recipe.name}" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-text w-25">Description</span>
                        <textarea class="form-control" aria-label="Description" th:field="${recipe.description}" rows ="4"></textarea>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-text w-25">Instructions</span>
                        <textarea class="form-control" th:field="${recipe.instructions}" rows ="8"></textarea>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Add Recipe" />
            </form>
        </div>
    </div>
</body>
</html>