<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${recipes} and ${recipes.size()}">no recipes!</p>

<div class="container body-content">
    <h2>Recipes <a href="/recipes/add"><i class="bi bi-plus-circle-fill"></i></i></a></h2>

    <p>
    <ul>
        <li th:each="recipe : ${recipes}">
            <a th:href="@{'/recipes/recipe-ingredients/' + ${recipe.id}}" th:text="${recipe.name}"></a>
            <a th:href="@{'/recipes/edit/' + ${recipe.id}}"><i class="bi glyphicon bi-pencil-square"></i></a>
        </li>
    </ul>
    </p>

</div>

</body>
</html>