<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h2 th:text="${recipe.name}">Default Title</h2>

<nav th:replace="fragments :: page-header"></nav>

<p th:text="${recipe.description}"></p>

<h3>Add Ingredient</h3>
<form method="post" action="add" style="max-width:600px;">
    <div class="form-group">
        <input type="hidden" name="recipeId" th:value="${recipe.id}" />
        <table>
            <tr>
                <th>Amount</th>
                <th>Unit</th>
                <th>Ingredient</th>
            </tr>
            <tr>
                <td>
                    <input class="form-control" size="8" name="amount" />
                </td>
                <td>
                    <select  class="form-control" name="unitId">
                        <option value="0"></option>
                        <option th:each="unit : ${units}" th:text="${unit.name}" th:value="${unit.id}"></option>
                    </select>
                </td>
                <td>
                    <select class="form-control" name="ingredientId">
                        <option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}" th:value="${ingredient.id}"></option>
                    </select>
                </td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Add" />
                </td>
            </tr>
        </table>
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</p>
    </div>
</form>

<h4>Ingredients</h4>
<ul>
    <li th:each="recipeIngredient : ${recipeIngredients}">
        <span th:text="${recipeIngredient.amount}"></span> <span th:text="${recipeIngredient.unit}"></span> <span th:text="${recipeIngredient.ingredient}"></span>
        <form method="post" action="delete" style="display:inline">
            <input type="hidden" name="recipeId" th:value="${recipe.id}" />
            <input type="hidden" name="recipeIngredientId" th:value="${recipeIngredient.id}" />
            <button type="submit" class="btn btn-link"><i class="bi bi-trash"></i></button>
        </form>
    </li>
</ul>

</body>
</html>