<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h2>Ingredients</h2>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" action="add">
    <div class="form-group">
        <div class="col-xs-3">
            <input class="form-control" placeholder="Ingredient Name" th:field="${ingredient.name}" />
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Add" />
        </div>
    </div>
</form>
<span th:errors="${ingredient.name}" class="error"></span>

<ul>
    <li th:each="ingredient : ${ingredients}">
        <a th:href="@{'#'}" th:text="${ingredient.name}"></a>
    </li>
</ul>

</body>
</html>