<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<script type='text/javascript'>
function setRecipeName(instruction) {

    document.getElementById("recipeInstructions").value = instruction;
    return false;
}
</script>
<body>
<div  th:replace="fragments :: page-header"></div>

<div   class="container body-content">
<table class="table">
    <tr>
        <th>Recipe Name</th>
        <th>Ingredients</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td>
            <p>
                <a href="#" th:onclick="javascript:setRecipeName([[${recipe.instructions}]]);" th:text="${recipe.name}"></a>

            </p>
        </td>
        <td>


            <p th:text="${recipe.ingredients}"></p>


        </td>
    </tr>
</table>


    <textarea id="recipeInstructions"></textarea>
</div>



</body>
</html>