<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
   </head>
<body>
<table>
    <tr th:each="recipe : ${recipes}">
        <td>
            <p>
                Recipe Name:
                <a th:href="@{'/view/' + ${recipe.recipeName}}" th:text="${recipe.recipeName}"></a>
            </p>
        </td>
        <td>

            <p>
                Major Incredients:
            <p th:text="${recipe.ingredients}"></p>
            </p>

        </td>
    </tr>
</table>


</body>
</html>