<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>
<table>
    <tr>
         <td>
            <div class="form-group">
                <table>
                    <tr>
                        <th> Type of cooking</th>
                    </tr>

                    <th:block th:each="tag:${tags}">
                        <tr>
                            <td><span th:text="${tag}"></span></td>
                            <td><input type="checkbox" name="tags" th:value="${tag}" class="form-group"></td>
                        </tr>
                    </th:block>

                </table>
            </div>
        </td>
        <td>
            <div class="form-group">
                <table>
                    <tr><td>
                <label th:for="Ingredients">Name</label>
                <select>
                    <option>Chicken</option>
                    <option>Water</option>
                </select>
                        <button > Add </button>
                    </td></tr>
                    <tr><td>
                <textarea>

                </textarea>
                    </td></tr>
                </table>
            </div>
        </td>
    </tr>
</table>




</body>
</html>